* {
    margin: 0;
    padding: 0;
}

/* Add a link of google map */
#logo {
    margin: -3px 40px;
}

#logo img {
    height: 95px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
    opacity: 0.8;
    /* width: 100%;
    position: fixed; */
    z-index: 2;
}

/* #nav_ul::before {
    content: "";
    background-color: black;
    opacity: 50%;
} */

#nav_ul {
    display: flex;

}

#nav_ul li {
    list-style: none;
    font-size: 1.2rem;
}

#nav_ul li a {
    color: white;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#nav_ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    margin-bottom: 135px;
    flex-direction: column;
    padding: 3px 200px;
    height: 280px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url('background.jpg') no-repeat center center/cover;
    height: 70%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.95;
    z-index: -1;
}

#home h1 {
    color: white;
    font-family: cursive;
    text-align: center;
    font-weight: 900;
    padding: 8px;
}

#home h2 {
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-weight: lighter;
    padding: 4px;
    font-family: Sofia;
}

#home p {
    color: white;
    text-align: center;
    padding: 4px;
}

.h-primary {
    font-size: 3.2rem;
    text-align: center;
}

.btn {
    font-family: cursive;
    padding: 6px 20px;
    border: 2px solid rgb(232, 174, 98);
    border-radius: 20px;
    font-weight: 500;
    margin: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}

/* #services-container{

} */

#services-container h1 {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: rgb(26, 26, 27);
    /* font-weight:300px ; */
}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.box {
    border: 2px solid rgb(234, 176, 41);
    padding: 18px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

/* .box:hover {
    padding: 23px;
    background-color: rgb(250, 250, 250);
} */

.box p {
    font-family: Sofia;
}

.box img {
    height: 198px;
    width: 380px;
    margin: auto;
    display: block;
}

#low-content {
    background-color: rgb(227, 226, 226);
    font-family: Okra, Helvetica, sans-serif;
}

.h-secondary {
    font-size: 29px;
    padding: 40px 20px 20px 45px;
    font-family: cursive
}

#low-nav {
    display: flex;
}

.low-box {
    padding: 25px 40px 30px 45px;
    margin: 2px;
}

.list-items {
    list-style: none;
    text-decoration: none;
    padding-top: 4px;
}

.list-items li {
    padding-top: 8px;
}

.list-items a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

#last-line {
    padding: 20px 20px 20px 45px;
}